.board{
    display: flex;
    gap: 10px;
    margin: 15px 0 0 30px;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px #000 solid;
    height: 500px;
    width: 200px;
}
.col-head{
    padding: 0 10px;
    border: 1px #ccc solid;
    text-align: center;
}