:root{
    --primary: #21243f;
    --alt-primary: #121212;  
    --secondary-one: #1e2a41; 
    --secondary-two: #2c2543; 
    --card: #50233e; 
    --alert: #551e2d;
    --text: #f7f7f8;  
}



.board{
    display: grid;
    grid-template-rows: 1fr 4fr ;
   
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / span 1;
    padding: 0 10px;
    border-bottom: 3px solid #000;
    background-color: var(--secondary-one);
    color: var(--text);
    
}
.links ul{
    display: flex;
    align-items: baseline;
    gap: 20px;
    padding: 0 20px;
    list-style-type: none;
    font-size: 20px;
}
.links .export{
    border: 3px solid transparent;
    width: max-content;
    transition: border-bottom 0.02s;
}
.links .export:hover{
    cursor: pointer;
    border-bottom: 2px solid var(--text);
}
.links .import{
    border: 3px solid transparent;
    width: max-content;
    transition: border-bottom 0.02s;
}
.links .import:hover{
    cursor: pointer;
    border-bottom: 2px solid var(--text);;
}


.kanban{
    display: flex;
    gap: 10px;
    margin: 15px 0 0 30px;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

