:root{
    --primary: #21243f;
    --alt-primary: #121212; 
    --secondary-one: #1e2a41; 
    --secondary-two: #2c2543; 
    --card: #50233e;
    --low-opacity-card: #50233e69;
    --card-alt: #4b284f; 
    --alert: #551e2d;
    --text: #f7f7f8;    
  }


.dim{
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px var(--alt-primary) solid;
    width: 200px;
    height: 70px;
    background-color: #000;
    color: var(--text);
    margin: 10px;
    background-color: var(--primary);
}
.card:hover{
    cursor: pointer;
    background-color: var(--low-opacity-card);
}

.card-details{
    display: none;
    border: 1px #000 solid;
    background-color: #000;
    color: var(--text);
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    background-color: var(--secondary-one);
}
.card-details-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.card-details .btns {
    align-self: center;
}

.card-details .btns .close{
    outline: 0;
    width: 100px;
    height: 30px;
    border: 2px solid var(--text);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text);
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s ;
}
.card-details .btns .close:hover{
    cursor: pointer;
    background-color: var(--alert);
    color: var(--text);
}