.add-task{
    border: 1px #000 solid;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px #000 solid;
    height: 500px;
    width: 200px;
}
.col-head{
    padding: 0 10px;
    border: 1px #ccc solid;
    text-align: center;
}