:root{
    --primary: #21243f;
    --alt-primary: #121212; 
    --secondary-one: #1e2a41; 
    --secondary-two: #2c2543; 
    --card: #50233e;
    --low-opacity-card: #382d6296;
    --card-alt: #382d62; 
    --alert: #551e2d;
    --text: #f7f7f8;    
  }


.dim{
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
}
.input, p{
    margin: 0
}
.popup{
    position: relative;
}
.add-task{
    display: none;
    border: 1px #000 solid;
    background-color: var(--primary);
    color: var(--text);
    /* text-align: center; */
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.form-content{
    display: flex;
    flex-direction: column;
}
.form-content .fields{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    margin: 15px;
    padding: 15px;
    flex: 1;
}
.form-content label{
    display: block;
    padding-bottom: 5px;
}
.form-content input, .form-content select{
    box-shadow: inset 1px 1px 3px #ccc;
    outline: 0;
    appearance: none;
    margin: 10px 5px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.form-content input:hover,
.form-content input:focus{
    background-color: #eee;
}
.form-content select{
    padding: 5px;
}
.form-content select:hover{
    background-color: #eee;
    cursor: pointer;
}
.form-content span{
    position: relative;
}
.form-content span::after{
    content: '▼';
    /* font-size: 90px; */
    position: absolute;
    color: #000;
    top: -35px;
    right: -185px;
}

/*  */

.form-content .btns{
    display: flex;
    gap: 10px;
    align-self: center;
}

.form-content .btns .add{
    outline: 0;
    width: 100px;
    height: 30px;
    border: 2px solid var(--text);
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--text);
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s ;
}
.form-content .btns .add:hover{
    cursor: pointer;
    background-color: var(--text);
    color: var(--alt-primary);
}
.form-content .btns .close{
    outline: 0;
    width: 100px;
    height: 30px;
    border: 2px solid var(--text);
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--text);
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s ;
}
.form-content .btns .close:hover{
    cursor: pointer;
    background-color: var(--alert);
    color: var(--text);
}